div.table-container {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: fit-content;
    min-width: 500px;
}

div.table-header {
    max-width: calc(100vw - 12em - 200px + 10px);
    padding: 0.4em 1em;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    gap: 1.5em;
    align-items: center;
    background-color: var(--color-background-light);
    border-radius: 5px;
    z-index: 3;
}

.table-header-table-name {
    font-weight: bold;
    text-transform: uppercase;
}

.table-header-table-name~div {
    margin-left: auto;
    display: flex;
    gap: 1em;
}

.table-header-table-name~div>div {
    display: flex;
    align-items: center;
    gap: 0.7em;
}

.table-header-table-name~div img {
    height: 15px;
}

.table-header-table-name~div img:not(.disabled):not(.no-pointer) {
    cursor: pointer;
}

.table-header-table-name~div img.disabled {
    opacity: 0.5;
}

table.simple-table {
    width: fit-content;
    min-width: 500px;
    border-spacing: 0;
    border-left: 1px solid rgba(216, 218, 221, 0.4);
    border-top: 1px solid rgba(216, 218, 221, 0.4);
}

.simple-table th {
    text-align: left;
    background-color: var(--color-background);
    z-index: 3;
}

.simple-table tr.sticky-th th {
    position: sticky;
    top: 2.4em;
}

.simple-table th>div.th-index {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.simple-table td, .simple-table th {
    padding: 0.4em 1em;
    border-bottom: 1px solid rgba(216, 218, 221, 0.4);
}

.simple-table tr td.colored-col {
    text-align: center;
    background-color: var(--color-background);
}

.simple-table tr td.primary-col {
    text-align: center;
    font-weight: bold;
}

.simple-table tr td {
    white-space: nowrap;
    max-width: 40em;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.simple-table:not(.no-hover) tr:hover td {
    background-color: var(--color-background);
}

.simple-table .null-value,
.simple-table .enum-value,
.simple-table .empty-value {
    padding: 0.2em;
    border-radius: 0.2em;
    font-size: small;
    font-family: sans-serif;
    cursor: default;
}

.simple-table .null-value,
.simple-table .empty-value {
    opacity: 0.5;
}

.simple-table .null-value {
    border: 1px solid var(--color-border-hover);
    background-color: var(--color-border);
}

.simple-table .empty-value {
    border: 1px solid orange;
    background-color: rgba(255, 255, 0, 0.4);
}

.simple-table .enum-value {
    border: 1px solid rgba(0, 128, 0, 0.5);
    background-color: rgba(0, 128, 0, 0.1);
}

.simple-table-error {
    margin-left: 1em;
    color: red;
}

.simple-table .foreign-target {
    opacity: 0.5;
    border-bottom: 1px dotted var(--color-text);
}

.simple-table-nb-result {
    width: fit-content;
    position: sticky;
    left: 1em;
}

.simple-table tr.selected-row td {
    background-color: var(--color-background)
}


.simple-table .number {
    color: orange;
}

.simple-table .weird-char {
    border-bottom: 1px dashed orange;
    cursor: default;
}

h2.simple-table-title {
    padding-left: 2em;
}