table.simple-table {
    width: fit-content;
    border-spacing: 0;
    border-left: 1px solid rgba(216, 218, 221, 0.4);
    border-top: 1px solid rgba(216, 218, 221, 0.4);
    margin-left: 1em;
    margin-right: 1em;
}

.simple-table th {
    text-align: left;
    background-color: var(--color-background);
}

.simple-table th>div.th-index {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.simple-table td, .simple-table th {
    padding: 0.4em 0.7em;
    border-right: 1px solid rgba(216, 218, 221, 0.4);
    border-bottom: 1px solid rgba(216, 218, 221, 0.4);
}

.simple-table tr td.colored-col {
    text-align: center;
    background-color: var(--color-background);
}

.simple-table tr td {
    white-space: nowrap;
    max-width: 40em;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.simple-table .null-value,
.simple-table .empty-value {
    padding: 0.2em;
    border-radius: 0.2em;
    font-size: small;
    font-family: sans-serif;
    opacity: 0.5;
    cursor: default;
}

.simple-table .null-value {
    border: 1px solid var(--color-border-hover);
    background-color: var(--color-border);
}

.simple-table .empty-value {
    border: 1px solid orange;
    background-color: rgba(255, 255, 0, 0.4);
}

.simple-table-error {
    margin-left: 1em;
    color: red;
}

.simple-table .foreign-target {
    opacity: 0.5;
    border-bottom: 1px dotted var(--color-text);
}

.simple-table-nb-result {
    width: fit-content;
    position: sticky;
    left: 1em;
}

.simple-table tr.selected-row td {
    background-color: var(--color-background)
}


.simple-table .number {
    color: orange;
}

.simple-table .weird-char {
    border-bottom: 1px dashed orange;
    cursor: default;
}

h2.simple-table-title {
    padding-left: 2em;
}